<div class="container-fluid mt-2">
    <div class="row main-content-container">
      <div class="col-6">
        <div class="head-container">
          <h1>HelloPro</h1>
        </div>
      </div>
      <div class="col-6">
        <div class="button-container">
            <button type="button" class="btn btn-success mr-2">Start</button>
            <button type="button" class="btn btn-danger">Stop</button>
        </div>
      </div>
    </div>
    <div class="row timer-container">
      <div class="col-12">
        00:00:00:00
      </div>
    </div>
    <div class="row project-history-container">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Start</th>
              <th scope="col">End</th>
              <th scope="col">Duration</th>
              <th scope="col">Rate/hr</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>17/12/18</td>
              <td>9:00 AM</td>
              <td>1:00 PM</td>
              <td>4 Hours</td>
              <td>$25.00</td>
              <td>$100.00</td>
            </tr>
            <tr>
              <td colspan="6" class="totalHours"><b>Total Amount:</b></td>
              <td><b>$100.00</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>