<div class="super">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
          <mat-sidenav-container>
            <mat-sidenav class="sidebar-container" #sidenav>
              <!-- Here comes the sidebar content -->
              <app-projects-list></app-projects-list>
            </mat-sidenav>
            <mat-sidenav-content class="main-content">
              <!-- Here comes the content -->
              <!-- Header -->
              <app-header (toggleSideNav)="sidenav.toggle()"></app-header>
              <!-- Content -->
              <app-project-details></app-project-details>
            </mat-sidenav-content>
          </mat-sidenav-container>
      </div>
    </div>
  </div>
</div>